@{
    ViewData["Title"] = "Función Consultiva";
}

<h1>@ViewData["Title"]</h1>

            <h4>Asesoramiento e Informes Especiales</h4>
            <p>
                Brinda asesoramiento en forma constante a los Órganos Cuentadantes
                sobre diversos aspectos relativos a la rendición de la cuenta, y
                responde a consultas de carácter general referentes al manejo de
                caudales públicos que se planteen en los términos del art. Nº 68 de
                la Ley Nº 9.292.
            </p>
            <ul>
                <li>Consultas Externas</li>
                <li>Consultas Internas</li>
                <li>Informes y Auditorías, Dirección de Auditorías y Normas</li>
                <li>Recursos</li>
                <li>Denuncias</li>
                <li>Pedidos de Informes del Poder Judicial</li>
                <li>Pedidos de Informes de Información Pública</li>
            </ul>


                <h4>Digesto</h4>
                <p>
                    Se ha cumplido con la documentación de la calidad (Norma ISO) en cuanto a la actualización del Sistema Digesto, con la siguiente cantidad de normas cargadas (incluída la documentación del sistema de la calidad) de acuerdo a las siguientes fuentes. <br>

                    Comparando con datos de la memoria anual 2021, 2020 y 2019
                </p>

                @*<img class="digesto" src="images/2021/Proc-Dig-Cant-normas-cargadas.png" alt="Digesto">*@


