@{
    ViewData["Title"] = "Cuentas";
}

<script>
    var darkModeEnabled = @(((bool?)ViewBag.DarkModeEnabled) ?? false) ? "true" : "false";
    if (darkModeEnabled === "true") {
        document.body.classList.add("dark-mode");
    }
</script>

<h1>@ViewData["Title"]</h1>

