@{
    ViewData["Title"] = "Función Reglamentaria";
}

<h1>@ViewData["Title"]</h1>




            <p> Dispone los recaudos formales que deben contener las Cuentas que se le presentan e imparte instrucciones para la implementación de sistemas contables uniformes en un régimen de auditoría. (arts. Nº 19 y Nº 27 de la Ley Nº 9.292).</p>
            <p>En este cuadro se pueden consultar dichas normas.</p>
            <h4>Búsqueda de Normas</h4>
            <iframe frameborder="0" src="https://www.tribcuentasmendoza.gob.ar/tcnet/digesto/filtrodigesto/FiltroNormativaWeb_2.aspx" style="width: 800px; height: 410px;"></iframe>

