@{
    ViewData["Title"] = "Función jurisdiccional";
}

<h1>@ViewData["Title"]</h1>

<h2>Juicio de Cuentas</h2>
<p>
    El Juicio de Cuentas es un proceso que se nutre de la información de la presentación de la cuenta que hace el Ente auditado durante el año en ejercicio junto a la obtenida en los procesos de Fiscalización y Asesoramiento, su producto final es el Fallocuyo objeto es aprobar o no la cuenta, a su vez puede contener multas y cargos.
</p>
<img src="~/img/jurisdiccional/juicio-de-cuentas.png"/>